<% if signed_in? %>
	<div class="row">
		<aside class="span4">
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/stats' %>
			</section>
			<section>
				<%= render 'shared/micropost_form' %>
			</section>
		</aside>
		<div class="span8">
			<h3>Micropost Feed</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>

	<% @hide_header = true %>
		<body class="base_table">
				<div class="section_background table_cell">
					<%= image_tag 'Landing_Page_Logo2.png', alt: 'Rule the Jungle Logo', size: "200x200" %>
					<h1 id="title_font">Rule the Jungle</h1>
					<p class= "home_body_text">
						We set up unique experiences in NYC while removing the<br> hassle and legwork of planning the perfect date
					</p><br>
					<%= link_to "Plan a Date!", "https://www.wf-site.com/microsite/pages/37cdab41d2a7648b", class: "btn btn-large btn-primary" %>
				</div>
		</body>	
	
<!-- 	<div class ="center hero-unit home_main">
		<h1 id="title-font">Rule the Jungle</h1><br>
		<p class= "body-text">
			We set up unique experiences in NYC while removing the<br> hassle and legwork of planning the perfect date
		</p><br>

		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>  -->

<% end %>
